# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Renpy byte-compiled
*.rpyc

# Python lib
python-packages/

# cmd files
*.cmd

# Logs
*.log

# Images
*.jpg
*.jpeg
*.png

# Asset folders
backgrounds/
bgm/
cache/
gui/
saves/
dmm/assets/
dmm/info_eidolon/
dmm/info_kamihime/
dmm/info_soul/
dmm/main_quests/
dmm/portrait/
dmm/portrait_full/
dmm/raw_scenario/
dmm/scenario/
dmm/story_thumb/
nutaku/assets/
nutaku/info_eidolon/
nutaku/info_kamihime/
nutaku/info_soul/
nutaku/main_quests/
nutaku/portrait/
nutaku/portrait_full/
nutaku/raw_scenario/
nutaku/scenario/
nutaku/story_thumb/

# Others
.vscode/
dmm/config.ini
dmm/listing*
nutaku/blacklist.txt
nutaku/censored.txt
nutaku/eidolons.json
nutaku/config.ini
nutaku/listing*
