# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Renpy byte-compiled
*.rpyc

# cmd files
*.cmd

# Logs
*.log

# Asset folders
game/backgrounds/
game/bgm/
game/cache/
game/saves/
game/dmm/assets/
game/dmm/info_eidolon/
game/dmm/info_kamihime/
game/dmm/info_soul/
game/dmm/main_quests/
game/dmm/portrait/
game/dmm/portrait_full/
game/dmm/raw_scenario/
game/dmm/scenario/
game/dmm/story_thumb/
game/nutaku/assets/
game/nutaku/info_eidolon/
game/nutaku/info_kamihime/
game/nutaku/info_soul/
game/nutaku/main_quests/
game/nutaku/portrait/
game/nutaku/portrait_full/
game/nutaku/raw_scenario/
game/nutaku/scenario/
game/nutaku/story_thumb/

# Others
lib/
Python27/
renpy/
Kamihime_Player.*
game/.vscode/
game/dmm/config.ini
game/dmm/listing*
game/nutaku/blacklist.txt
game/nutaku/censored.txt
game/nutaku/eidolons.json
game/nutaku/config.ini
game/nutaku/listing*
desktop.ini
errors.txt
log.txt
traceback.txt
Rubbish/tmp/lock
game/dmm/ignore.txt
game/gui/welcome_to_temptation_red5.png
game/gui/button/button.psd
game/nutaku/ignore.txt
game/nutaku/00_convert_script.py
